<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      User: {{ user.username }}
    </li>
    <li>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="{% url 'logout' %}">Log out</a>
      </form>
    </li>
    <br>
  {% else %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
    <br>
  {% endif %}
  <li>
    <a href="{% url 'catalog:index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'catalog:author-list' %}">All authors</a>
  </li>
  <li>
    <a href="{% url 'catalog:book-list' %}">All books</a>
  </li>
  <li>
    <a href="{% url 'catalog:literary-format-list' %}">All literary formats</a>
  </li>
</ul>
